node_modules/
out/
dist/
release/
*.deb
*.AppImage
*.rpm
*.tar.gz
*.snap
.env
.env.local
.env.*.local

# Snapcraft build artifacts
parts/
prime/
stage/
.craft/
*.snap
*.tar.bz2

tsconfig.*.tsbuildinfo
